/* Estilos para Pantalla Responsive */
#article-A { margin: 5rem 0; }

#article-A .contentEstilo { background-color: rgba(255, 255, 255, 0.85); }

#article-A h4 { 
    font-size: 1rem;
    font-weight: 800;
}

#article-A h2 {
    font-weight: 800;
    font-size: 3rem;
    font-family: 'Indie Flower', cursive;
}

#article-A .divEdit { color: white; }

#article-A .divEdit a:hover { color: white; }

#article-A .btnEstilo {
    font-weight: 700;
    font-size: 0.8rem;
    padding: 1.5rem 2rem;
    background-color: #2383EB;
}

#article-A .btnEstilo:hover, .btnEstilo:focus, .btnEstilo:active {
    background-color: rgb(29, 112, 202);
}

/* Estilos para Pantalla Full Screem */
@media (min-width: 992px) {
    #article-A .imgEstilo {
        width: 75%;
        float: right;
    }

    #article-A .contentEstilo {
        position: absolute;
        width: 38%;
        margin-top: 5rem;
    }

    #article-A .divEdit {
        position: absolute;
        left: 0;
        bottom: -2rem;
        width: 100%;
    }
}