/* Estilos para Pantalla Responsive*/
#menuNav {
    background-color: #2383EB;
    font-family: 'Raleway';
}
  
#menuNav a {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 800;
    padding: .5rem 0;
}

#menuNav a:hover { color: #e6a756; }

/* Estilos para Pantalla Full Screem */
@media (min-width: 992px) {
    #menuNav a {
        font-size: 0.9rem; 
        padding: 0 2rem;
    }
}
  